<div class="mx-auto max-w-4xl mt-[70px] md:mt-[141px]">
  <div class="author__block px-6 md:px-8 flex flex-col md:flex-row items-start md:items-center justify-start md:justify-center gap-x-12">
      <img class="w-sm rounded-full md:rounded-none md:w-[138px] h-auto" src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Avatar.png?v=1714540828" alt="author-image">
      <div class="mt-[8px]">
          <h4 class="text-[20px] leading-[25px] text-[#000000] font-normal">{{ article.author }}</h4>
          <div class="text-[14px] leading-[19px] text-[#000000] font-normal mt-[8px]">
              I am a passionate blog writer with years of experience in the field, I have honed my skills in fashion and health. My journey in fashion has allowed me to win international awards that I can’t even count!
          </div>
      </div>
  </div>
</div>
