<section id="harmony--{{ section.id }}" class="bg-[#D0BAAC] bg-scroll bg-center bg-no-repeat bg-cover bg-[url('//cdn.shopify.com/s/files/1/0586/2499/9582/files/announcement-bg.png?v=1713538545')]">
  <div class="mx-auto max-w-7xl px-4 py-2">
    <dl class="grid grid-cols-1 md:grid-cols-3 gap-x-4 lg:gap-x-8 gap-y-6 lg:gap-y-16 text-center lg:grid-cols-4">
      <div class="relative hidden md:flex items-center justify-start lg:justify-start gap-x-0 order-1">
          <div class="grid grid-cols-2 gap-x-0 lg:grid-cols-2">
              <div class="mt-0">
                <select id="country" name="country" autocomplete="country-name" class="block w-full border-0 bg-transparent pl-1 pr-8 py-1.5 text-gray-900 ring-0 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-transparent sm:max-w-xs text-[14px] leading-[20px]">
                  <option>English</option>
                  <option>Canada</option>
                  <option>Mexico</option>
                </select>
              </div>
              <div class="mt-0">
                <select id="currency" name="currency" autocomplete="currency-name" class="block w-md border-0 bg-transparent pl-1 pr-8 py-1.5 text-gray-900 ring-0 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-transparent sm:max-w-xs text-[14px] leading-[20px]">
                  <option>USD</option>
                  <option>BGP</option>
                  <option>TK</option>
                </select>
              </div>
          </div>
      </div>
      <div class="relative flex items-center justify-center gap-x-4 lg:col-span-2 order-3 sm:order-2">
        <div class="slide-txt">
            <a href="#" class="relative inline-flex items-center">
                <span class="sr-only">Previous</span>
                <svg class="w-5 absolute text-[20px] top-[-14px] right-[5px] inline-flex items-center" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"></path>
                </svg>
            </a>
            <p class="relative inline-flex items-center text-[14px] text-[#000000]">Enjoy free shipping for your first order! </p>
            <a href="#" class="relative inline-flex items-center">
                <span class="sr-only">Next</span>
                <svg class="w-5 absolute text-[20px] top-[-14px] left-[5px] inline-flex items-center" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
      </div>
      <div class="relative hidden md:flex items-center justify-end lg:justify-end gap-x-3 lg:gap-x-3 mx-2 lg:mx-0 order-2 sm:order-2">
          <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/instagram.svg?v=1713455635" alt="instagram" class="h-[16px] w-[16px]" width="16" height="16">
          <span class="text-gray-900 sm:text-[14px] sm:leading-[20px]">Follow us on IG</span>
      </div>
    </dl>
  </div>
</section>





{% schema %}
  {
      "name": "Announcement bar",
      "settings": [
          {
              "type": "text",
              "id": "heading",
              "label": "Heading"
          }
      ],
      "presets": [
          {
              "name": "Announcement bar",
              "category": "Harmony Sections"
          }
      ]
  }
{% endschema %}
    