

<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                <div class="pointer-events-auto w-screen max-w-md">
                    <div class="flex h-full flex-col overflow-y-hidden bg-white shadow-xl">
                        <div class="flex items-start justify-between border-b px-4 sm:px-6 py-2 border-gray-300">
                            <h5 class="text-[14px] leading-[19px] text-[#000000] font-normal" id="slide-over-title">Enjoy free shipping for your first order</h5>
                        </div>
                        <div class="flex-1 overflow-y-hidden px-4 pb-4 sm:px-6">
                            <div class="flex items-center justify-between border-b py-4 border-gray-300">
                                <div class="flex items-center">
                                    <h2 class="text-[25px] leading-[35px] text-[#000000] font-normal mr-4" id="slide-over-title">Cart</h2>
                                    <span aria-hidden="true" class="h-[30px] w-[30px] py-1 px-2 text-[12px] text-[#000000] bg-[#D0BAAC] rounded-full border-2 border-white">0</span>
                                </div>

                                <div class="ml-3 flex h-7 items-center">
                                    <button type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
                                        <span class="absolute -inset-0.5"></span>
                                        <span class="sr-only">Close panel</span>
                                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="flex min-h-screen flex-1 flex-col justify-center">
                                <h2 class="text-[35px] leading-[35px] font-bold text-[#000000] text-center">Your cart is empty.</h2>
                                <div class="text-[14px] leading-[19px] font-normal text-[#000000] text-center mt-[16px]">
                                    Explore our range of skincare essentials designed to cater to every skin type and concern.
                                </div>
                                <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-[#373738] px-6 py-3 text-[17px] leading-[21px] text-[#F7F4ED] font-normal shadow-sm hover:bg-gray-500 mt-[25px]">Start Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
    "name": "Cart drawer empty",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Cart"
        }
    ],
    "presets": [
        {
            "name": "Cart drawer empty",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}
