
{% style %} 
    /* Chrome, Safari, Edge, Opera */
    .drawer__product-qyt input::-webkit-outer-spin-button,
    .drawer__product-qyt input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    .drawer__product-qyt input[type=number] {
        -moz-appearance: textfield;
    }
{% endstyle %} 


<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                <div class="pointer-events-auto w-screen max-w-md">
                    <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                        <div class="flex items-start justify-between border-b px-4 sm:px-6 py-2 border-gray-300">
                            <h5 class="text-[14px] leading-[19px] text-[#000000] font-normal" id="slide-over-title">Enjoy free shipping for your first order</h5>
                        </div>
                        <div class="flex-1 overflow-y-auto px-4 pb-4 sm:px-6">
                            <div class="flex items-center justify-between border-b py-4 border-gray-300">
                                <div class="flex items-center">
                                    <h2 class="text-[25px] leading-[35px] text-[#000000] font-normal mr-4" id="slide-over-title">Cart</h2>
                                    <span aria-hidden="true" class="h-[30px] w-[30px] py-1 px-1.5 text-[12px] text-[#000000] bg-[#D0BAAC] rounded-full border-2 border-white">12</span>
                                </div>
                                <div class="ml-3 flex h-7 items-center">
                                    <button type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
                                        <span class="absolute -inset-0.5"></span>
                                        <span class="sr-only">Close panel</span>
                                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="mt-8">
                                <div class="flow-root">
                                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                                        <li class="flex py-6">
                                            <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/offcanvas-image.png?v=1714628373" width="24" height="auto" alt="product-image" class="h-full w-full object-cover object-center">
                                            </div>
                                            <div class="ml-4 flex flex-1 flex-col">
                                                <div>
                                                    <div class="flex justify-between">
                                                        <h3 class="text-[16px] leading-[21px] text-[#000000] font-normal">
                                                            <a href="#">Throwback Hip Bag</a>
                                                        </h3>
                                                        <p class="text-[13px] leading-[17px] text-[#000000] font-normal ml-4">$90.00</p>
                                                    </div>
                                                    <p class="text-[12px] leading-[16px] text-[#000000] font-normal opacity-70 mt-1">500gm</p>
                                                </div>
                                                <div class="flex flex-1 items-end justify-between text-sm">
                                                    <p class="text-gray-500">Qty 1</p>
                                                    <div class="flex">                                               
                                                        <form class="drawer__product-qyt max-w-xs mx-auto">
                                                            <div class="relative flex items-center -mb-2">
                                                                <button type="button" onclick="countDown('counterinput1')" class="flex-shrink-0 inline-flex items-center justify-center h-5 w-5 focus:ring-transparent focus:ring-2 focus:outline-none">-</button>
                                                                <input type="number" id="counterinput1" value="1" class="max-w-[3rem] px-0 pt-2 pb-2 text-[12px] leading-[16px] text-[#000000] font-normal border-0 bg-transparent  focus:outline-none focus:ring-0 text-center">
                                                                <button type="button" onclick="countUp('counterinput1')" class="flex-shrink-0 inline-flex items-center justify-center h-5 w-5 focus:ring-transparent focus:ring-2 focus:outline-none">+</button>
                                                            </div>
                                                        </form>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="relative ml-3 flex col-start-3 h-4 items-center justify-center">
                                                <button type="button" class="absolute top-[2.5rem] items-center justify-center -m-2 p-2 text-gray-400 hover:text-gray-500">
                                                    <span class="absolute -inset-0.5"></span>
                                                    <span class="sr-only">Close panel</span>
                                                    <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </li>
                                        <li class="flex py-6">
                                            <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Avatar.png?v=1714540828" width="24" height="auto" alt="product-image" class="h-full w-full object-cover object-center">
                                            </div>
                                            <div class="ml-4 flex flex-1 flex-col">
                                                <div>
                                                    <div class="flex justify-between text-base font-medium text-gray-900">
                                                        <h3 class="text-[16px] leading-[21px] text-[#000000] font-normal">
                                                            <a href="#">Throwback Hip Bag</a>
                                                        </h3>
                                                        <p class="text-[13px] leading-[17px] text-[#000000] font-normal ml-4">$90.00</p>
                                                    </div>
                                                    <p class="text-[12px] leading-[16px] text-[#000000] font-normal opacity-70 mt-1">100gm</p>
                                                </div>
                                                <div class="flex flex-1 items-end justify-between text-sm">
                                                    <p class="text-gray-500">Qty 1</p>

                                                    <div class="flex">                                               
                                                        <form class="drawer__product-qyt max-w-xs mx-auto">
                                                            <div class="relative flex items-center -mb-2">
                                                                <button type="button" onclick="countDown('counterinput2')" class="flex-shrink-0 inline-flex items-center justify-center h-5 w-5 focus:ring-transparent focus:ring-2 focus:outline-none">-</button>
                                                                <input type="number" id="counterinput2" value="1" class="max-w-[3rem] px-0 pt-2 pb-2 border-0 bg-transparent text-[12px] leading-[16px] text-[#000000] font-normal focus:outline-none focus:ring-0 text-center">
                                                                <button type="button" onclick="countUp('counterinput2')" class="flex-shrink-0 inline-flex items-center justify-center h-5 w-5 focus:ring-transparent focus:ring-2 focus:outline-none">+</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="relative ml-3 flex col-start-3 h-4 items-center justify-center">
                                                <button type="button" class="absolute top-[2.5rem] items-center justify-center -m-2 p-2 text-gray-400 hover:text-gray-500">
                                                    <span class="absolute -inset-0.5"></span>
                                                    <span class="sr-only">Close panel</span>
                                                    <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </li>
                                        <li class="flex py-6">
                                            <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Image_2.png?v=1714467557" width="24" height="auto" alt="product-image" class="h-full w-full object-cover object-center">
                                            </div>
                                            <div class="ml-4 flex flex-1 flex-col">
                                                <div>
                                                    <div class="flex justify-between text-base font-medium text-gray-900">
                                                        <h3 class="text-[16px] leading-[21px] text-[#000000] font-normal">
                                                            <a href="#">Throwback Hip Bag</a>
                                                        </h3>
                                                        <p class="text-[13px] leading-[17px] text-[#000000] font-normal ml-4">$90.00</p>
                                                    </div>
                                                    <p class="text-[12px] leading-[16px] text-[#000000] font-normal opacity-70 mt-1">300ml</p>
                                                </div>
                                                <div class="flex flex-1 items-end justify-between text-sm">
                                                    <p class="text-gray-500">Qty 1</p>

                                                    <div class="flex">                                               
                                                        <form class="drawer__product-qyt max-w-xs mx-auto">
                                                            <div class="relative flex items-center -mb-2">
                                                                <button type="button" onclick="countDown('counterinput3')" class="flex-shrink-0 inline-flex items-center justify-center h-5 w-5 focus:ring-transparent focus:ring-2 focus:outline-none">-</button>
                                                                <input type="number" id="counterinput3" value="1" class="max-w-[3rem] px-0 pt-2 pb-2 border-0 bg-transparent text-[12px] leading-[16px] text-[#000000] font-normal focus:outline-none focus:ring-0 text-center">
                                                                <button type="button" onclick="countUp('counterinput3')" class="flex-shrink-0 inline-flex items-center justify-center h-5 w-5 focus:ring-transparent focus:ring-2 focus:outline-none">+</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="relative ml-3 flex col-start-3 h-4 items-center justify-center">
                                                <button type="button" class="absolute top-[2.5rem] items-center justify-center -m-2 p-2 text-gray-400 hover:text-gray-500">
                                                    <span class="absolute -inset-0.5"></span>
                                                    <span class="sr-only">Close panel</span>
                                                    <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="discount_offer border-t border-gray-200 px-4 py-4 sm:px-6">
                            <div class="my-2 text-[14px] leading-[19px] text-[#000000] font-normal">Add $70 worth of items to get free shipping.</div>
                            <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                                <div class="bg-[#D0BAAC] text-xs font-medium text-white text-center p-0.5 leading-none rounded-full" style="width: 78%"> 78%</div>
                            </div>    
                        </div>
                        <div class="drawer__footer border-t border-gray-200 px-4 py-4 sm:px-6 mt-[10px]">
                            <div class="text-[14px] leading-[19px] text-[#000000] font-normal">Taxes and shipping calculated at checkout</div>
                            <div class="flex justify-between text-base font-medium text-gray-900 mt-[20px]">
                                <div class="text-[19px] leading-[24px] text-[#000000] font-normal">Subtotal</div>
                                <p>$262.00</p>
                            </div>
                            <div class="mt-6">
                                <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-[#373738] px-6 py-3 text-[17px] leading-[21px] text-[#F7F4ED] font-normal shadow-sm hover:bg-gray-500">Checkout</a>
                            </div>
                            <div class="py-6 flex justify-center text-center">
                                <button type="button" class="text-[17px] leading-[21px] text-[#000000] font-normal hover:text-gray-500">
                                    View Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
    "name": "Cart drawer",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Cart"
        }
    ],
    "presets": [
        {
            "name": "Cart drawer",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}
    



<script>
    function countUp(inputId) {
        document.getElementById(inputId).stepUp(1);
    }
    function countDown(inputId) {
        document.getElementById(inputId).stepDown(1);
    }
</script>
