<style>
    /* Create an faqTabActive/current faq__tablink class */
    .faq__tab button.faqTabActive {
        background-color: #373738;
        color: #fff;
    }

    /* Style the faq__tab content */
    .faq__tabcontent {
        display: none;
    }

    .faqAccordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    .accTabActive:after {
        content: "\2212";
    }
    .faqPanel {
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }
</style>

<section id="harmony--{{ section.id }}" class="bg-[#FFFAF4]">
    <div class="py-10 md:py-24">
        <div class="mx-auto max-w-7xl px-6 md:px-10">
          <div class="mx-auto grid grid-cols-3">
            <div class="heading text-center md:text-left content-center col-span-3 md:col-span-1">
                <h2 class="tracking-tight text-[27px] leading-[36px] lg:text-[50px] lg:leading-[56px] text-[#000000] font-semibold">Read FAQ's</h2>
            </div>
            <div class="faq__tab flex overflow-hidden justify-center md:justify-end md:py-6 space-x-5 col-span-3 md:col-span-2 mt-6 md:mt-0">
                <button class="faq__tablinks bg-[transparent] hover:bg-[#373738] border-0 outline-0 cursor-pointer rounded-full px-[20px] py-[5px] transition duration-30 ease-in-out text-[14px] leading-[16px] text-[#000000] hover:text-[#ffffff] font-semibold" onclick="openFaq(event, 'Shipping')" id="faqTabDefaultOpen">Shipping</button>
                <button class="faq__tablinks bg-[transparent] hover:bg-[#373738] border-0 outline-0 cursor-pointer rounded-full px-[20px] py-[5px] transition duration-30 ease-in-out text-[14px] leading-[16px] text-[#000000] hover:text-[#ffffff] font-semibold" onclick="openFaq(event, 'Payment')">Payment</button>
                <button class="faq__tablinks bg-[transparent] hover:bg-[#373738] border-0 outline-0 cursor-pointer rounded-full px-[20px] py-[5px] transition duration-30 ease-in-out text-[14px] leading-[16px] text-[#000000] hover:text-[#ffffff] font-semibold" onclick="openFaq(event, 'Pre-Sale')">Pre-Sale</button>
            </div>
          </div>
          <div class="mx-auto mt-0 md:mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 pt-10 sm:mt-2 sm:pt-2 lg:mx-0 lg:max-w-none lg:grid-cols-1">
            <div class="faq-faqAccordion min-h-[25rem]">
                <div id="Shipping" class="faq__tabcontent px-[6px] py-[0] animate__animated animate__fadeIn animate__slower">
                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">Are your products suitable for all skin types?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                    
                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">How do I know which products are right for my skin?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                    
                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">Can I use your products if I have a specific skin concern, like acne or fine lines?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>

                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">What is your return policy?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>

                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">Can I contact your customer support for additional assistance?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>

                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">How can I stay updated on your latest products and promotions?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>

                <div id="Payment" class="faq__tabcontent px-[6px] py-[0] animate__animated animate__fadeIn animate__slower">

                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">What is your return policy?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>

                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">Can I contact your customer support for additional assistance?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>

                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">How can I stay updated on your latest products and promotions?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>

                <div id="Pre-Sale" class="faq__tabcontent px-[6px] py-[0] animate__animated animate__fadeIn animate__slower">
                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">Are your products suitable for all skin types?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                    
                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">How do I know which products are right for my skin?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                    
                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">Can I use your products if I have a specific skin concern, like acne or fine lines?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>

                    <button class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b border-b-[#eee] text-left outline-0 transition duration-40 ease-in-out text-[14px] leading-[19px] lg:text-[20px] lg:leading-[26px] text-[#000000] font-semibold bg-[#FFFAF4] hover:text-[#000000ad] hover:bg-[#FFFAF4]">What is your return policy?</button>
                    <div class="faqPanel pr-[10px] bg-[#FFFAF4] overflow-hidden">
                      <div class="block py-3 text-[16px] leading-[21px] text-[#000000]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
            </div>
            <div class="send__msg mx-auto text-[14px] leading-[19px] text-[#000000] inline-block text-center border border-gray-300 rounded-full px-3 py-2">
                <p>Still have a question? <a href="#" class="underline">Send private message</a></p>
            </div>
          </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "FAQ",
    "class": "harmony_section-faq",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }
    ],
    "presets": [
        {
            "name": "FAQ",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}


{% comment %} script for faqAccordion  {% endcomment %}
<script>
    var faqAcc = document.getElementsByClassName("faqAccordion");
    var i;

    for (i = 0; i < faqAcc.length; i++) {
        faqAcc[i].addEventListener("click", function() {
            this.classList.toggle("accTabActive");
            var faqPanel = this.nextElementSibling;
            if (faqPanel.style.maxHeight) {
                faqPanel.style.maxHeight = null;
            } else {
                faqPanel.style.maxHeight = faqPanel.scrollHeight + "px";
            }
        });
    }
</script>


{% comment %} script for tabs  {% endcomment %}
<script>
    function openFaq(faq__evt, tabName) {
        var i, faq__tabcontent, faq__tablinks;
        faq__tabcontent = document.getElementsByClassName("faq__tabcontent");
        for (i = 0; i < faq__tabcontent.length; i++) {
            faq__tabcontent[i].style.display = "none";
        }
        faq__tablinks = document.getElementsByClassName("faq__tablinks");
        for (i = 0; i < faq__tablinks.length; i++) {
            faq__tablinks[i].className = faq__tablinks[i].className.replace(" faqTabActive", "");
        }
        document.getElementById(tabName).style.display = "block";
        faq__evt.currentTarget.className += " faqTabActive";
    }

    // Get the element with id="faqTabDefaultOpen" and click on it
    document.getElementById("faqTabDefaultOpen").click();
</script>
