<footer id="harmony--{{ section.id }}">


    <div class="bg-[#2E4532] py-14 sm:py-12 border-b border-gray-600">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-4">
            <div class="relative flex items-center gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/car.png?v=1713333652" alt="shipping" class="h-[24px] w-[35px]">
                <div class="text-sm text-left leading-6">
                  <p class="text-gray-100 max-w-40">Free Delivery Free Shipping for all orders</p>
                </div>
            </div>
            <div class="relative flex items-center gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Path_141863.png?v=1713192867" alt="secure payment" class="h-[33px] w-[26px] ">
                <div class="text-sm text-left leading-6">
                  <p class="text-gray-100 max-w-40">Secure Payments 256-Bit Protection</p>
                </div>
            </div>
            <div class="relative flex items-center gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Path_141865.png?v=1713192867" alt="" class="h-[32] w-[28]">
                <div class="text-sm text-left leading-6">
                  <p class="text-gray-100 max-w-40">Discount Coupons Enjoy Huge Promotions</p>
                </div>
            </div>
            <div class="relative flex items-center gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Path_141864.png?v=1713192867" alt="return" class="h-[23] w-[23]">
                <div class="text-sm text-left leading-6">
                  <p class="text-gray-100 max-w-40">Easy Returns Free returns. No hassle.</p>
                </div>
            </div>
          </dl>
        </div>
    </div>



    <div class="footer__main bg-[#2E4532]">

    <div class="relative bg-[#2E4532]">
        <div class="mx-auto max-w-7xl px-8">
          <div class="grid grid-cols-2 gap-x-8 gap-y-10 py-16">
            <div class="grid grid-cols-1 w-1/2 gap-x-8">
              <div class="group relative text-base sm:text-sm">
                <h4 id="Clothing-heading" class="inline-block font-medium text-gray-100 border rounded-full border-gray-100 px-4 py-1 mb-3">Subscribe</h4>
                <p aria-hidden="true" class="my-4 text-gray-100">Be the first to know about promotions and skincare tips.</p>
                <div class="mt-6 flex max-w-md gap-x-1">
                    <label for="email-address" class="sr-only px-0">Email address</label>
                    <input id="email-address" name="email" type="email" autocomplete="email" required="required" class="min-w-0 flex-auto border-0 border-b border-b-gray-500 bg-transparent px-0 py-2 text-white focus:ring-0 focus:border-b-gray-500 focus:outline-none focus:border-b-2 focus:border-gray-200 sm:text-sm sm:leading-6" placeholder="Enter your email address">
                    <button type="submit" class="flex-none"><i class="fa fa-arrow-right text-gray-100 border-2 border-gray-200 rounded-full px-2 py-2 hover:bg-gray-100 hover:text-gray-700 transition"></i></button>
                </div>



                <div class="mx-auto mt-3">
                  <div class="grid grid-cols-5 pr-24 py-4">
                    <span class="facebook-img inline-block max-w-[22px]">
                      <i class="fa fa-facebook inline-block w-[22px] h-[22px] px-2 text-sm text-gray-800 border-1 border-gray-100 bg-gray-200 hover:bg-gray-800 hover:text-gray-100"></i>
                    </span>
                    <span class="x-img inline-block max-w-[22px]">
                      <i class="fa fa-twitter inline-block w-[22px] h-[22px] px-1 text-sm text-gray-800 border-1 border-gray-100 bg-gray-200 hover:bg-gray-800 hover:text-gray-100"></i>
                    </span>
                    <span class="instagram-img inline-block max-w-[22px]">
                      <i class="fa fa-instagram inline-block w-[22px] h-[22px] px-1 text-sm text-gray-800 border-1 border-gray-100 bg-gray-200 hover:bg-gray-800 hover:text-gray-100"></i>
                    </span>
                    <span class="linkedin-img inline-block max-w-[22px]">
                      <i class="fa fa-linkedin inline-block w-[22px] h-[22px] px-1 text-sm text-gray-800 border-1 border-gray-100 bg-gray-200 hover:bg-gray-800 hover:text-gray-100"></i>
                    </span>
                    <span class="youtube-img inline-block max-w-[22px]">
                      <i class="fa fa-youtube inline-block w-[22px] h-[22px] px-1 text-sm text-gray-800 border-1 border-gray-100 bg-gray-200 hover:bg-gray-800 hover:text-gray-100"></i>
                    </span>
                  </div>
                </div>
                



              </div>
            </div>
            <div class=" grid grid-cols-3 gap-x-8 gap-y-10 text-sm">
              <div>
                <h4 id="Clothing-heading" class="inline-block font-medium text-gray-100 border rounded-full border-gray-100 px-4 py-1 mb-3">Contact</h4>
                <p aria-hidden="true" class="my-4 text-gray-100">
                  290 Maryam Springs Courbevoie, NYC +1 283 879 90
                </p>
                <h4 class="block font-medium text-gray-500 py-1">Need help?</h4>
                <a href="#" class="block text-gray-100 hover:text-gray-300">Send a message</a>
              </div>
              <div>
                <h4 id="Accessories-heading" class="inline-block font-medium text-gray-100 border rounded-full border-gray-100 px-4 py-1 mb-3">Company</h4>
                <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4 text-gray-100">
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Watches</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Wallets</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Bags</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Sunglasses</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Hats</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Belts</a>
                  </li>
                </ul>
              </div>
              <div>
                <h4 id="Brands-heading" class="inline-block font-medium text-gray-100 border rounded-full border-gray-100 px-4 py-1 mb-3">Shop</h4>
                <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4 text-gray-100">
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Re-Arranged</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Counterfeit</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">Full Nelson</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-300">My Way</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  

    <div class="bg-[#2E4532] py-14 sm:py-12 border-t border-gray-600">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-2">
            <div class="relative flex items-center gap-x-4">
                <div class="sm:col-span-3">
                    <div class="mt-2">
                      <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                        <option>English</option>
                        <option>Canada</option>
                        <option>Mexico</option>
                      </select>
                    </div>
                </div>
            </div>

            <div class="relative flex items-center justify-end gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/apple-pay.png?v=1713332081E" alt="apple-pay" class="h-[16px] w-[38px]" width="38" height="16">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/paypal.png?v=1713332333" alt="paypal" class="h-[17px] w-[14px]" width="17" height="14">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/mastercard.png?v=1713332333" alt="mastercard" class="h-[15px] w-[25px]" width="25" height="15">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/visa.png?v=1713332333" alt="visa" class="h-[11px] w-[33px]" width="33" height="11">
            </div>
          </dl>
        </div>
    </div>

</footer>



{% schema %}
    {
      "name": "Footer",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ],
      "presets": [
        {
          "name": "Footer",
          "category": "Harmony Sections"
        }
      ]
    }
{% endschema %}
