<footer id="harmony--{{ section.id }}">


    <div class="bg-[#2E4532] py-14 sm:py-12 border-b border-gray-600">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-4">
            <div class="relative flex items-center gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/shipping-car.png?v=1713196681" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm text-left leading-6">
                  <p class="text-gray-100 max-w-40">Free Delivery Free Shipping for all orders</p>
                </div>
            </div>
            <div class="relative flex items-center gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/secure-payment.jpg?v=1713196681" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm text-left leading-6">
                  <p class="text-gray-100 max-w-40">Secure Payments 256-Bit Protection</p>
                </div>
            </div>
            <div class="relative flex items-center gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/854842_scissors_512x512_d0c65ad3-0466-41a6-b315-55072ebe7a3c.png?v=1713196808" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm text-left leading-6">
                  <p class="text-gray-100 max-w-40">Discount Coupons Enjoy Huge Promotions</p>
                </div>
            </div>
            <div class="relative flex items-center gap-x-4">
                <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/box-delivery-easy-returns-return-icon-WTE3KB.jpg?v=1713196809" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm text-left leading-6">
                  <p class="text-gray-100 max-w-40">Easy Returns Free returns. No hassle.</p>
                </div>
            </div>
          </dl>
        </div>
    </div>



    <div class="footer__main bg-[#2E4532]">

    <div class="relative bg-[#2E4532]">
        <div class="mx-auto max-w-7xl px-8">
          <div class="grid grid-cols-2 gap-x-8 gap-y-10 py-16">
            <div class="grid grid-cols-1 w-1/2 gap-x-8">
              <div class="group relative text-base sm:text-sm">
                <p id="Clothing-heading" class="inline font-medium text-gray-100 border rounded-full border-gray-100 px-4 py-1">Subscribe</p>
                <p aria-hidden="true" class="my-4 text-gray-100">Be the first to know about promotions and skincare tips.</p>

                <div class="mt-6 flex max-w-md gap-x-1">
                    <label for="email-address" class="sr-only">Email address</label>
                    <input id="email-address" name="email" type="email" autocomplete="email" required="" class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-gray-500 sm:text-sm sm:leading-6" placeholder="Enter your email">
                    <button type="submit" class="flex-none rounded-md bg-gray-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">Subscribe</button>
                </div>
                
              </div>
            </div>
            <div class=" grid grid-cols-3 gap-x-8 gap-y-10 text-sm">
              <div>
                <p id="Clothing-heading" class="inline font-medium text-gray-100 border rounded-full border-gray-100 px-4 py-1">Contact</p>
                <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4 text-gray-400">
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Tops</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Pants</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Sweaters</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">T-Shirts</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Jackets</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Activewear</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Browse All</a>
                  </li>
                </ul>
              </div>
              <div>
                <p id="Accessories-heading" class="inline font-medium text-gray-100 border rounded-full border-gray-100 px-4 py-1">Company</p>
                <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4 text-gray-400">
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Watches</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Wallets</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Bags</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Sunglasses</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Hats</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Belts</a>
                  </li>
                </ul>
              </div>
              <div>
                <p id="Brands-heading" class="inline font-medium text-gray-100 border rounded-full border-gray-100 px-4 py-1">Shop</p>
                <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4 text-gray-400">
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Re-Arranged</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Counterfeit</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">Full Nelson</a>
                  </li>
                  <li class="flex">
                    <a href="#" class="hover:text-gray-500">My Way</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  

    <div class="bg-[#2E4532] py-14 sm:py-12 border-t border-gray-600">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-2">
            <div class="relative flex items-center gap-x-4">
                <div class="sm:col-span-3">
                    <div class="mt-2">
                      <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                        <option>English</option>
                        <option>Canada</option>
                        <option>Mexico</option>
                      </select>
                    </div>
                </div>
            </div>

            <div class="relative flex items-center justify-end gap-x-4">
                <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
            </div>
          </dl>
        </div>
    </div>

</footer>



{% schema %}
    {
      "name": "Footer",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ],
      "presets": [
        {
          "name": "Footer",
          "category": "Harmony Sections"
        }
      ]
    }
{% endschema %}
