<section id="harmony--{{ section.id }}" class="bg-[#E2DBCC]">
    <div class="relative max-w-screen-2xl isolate flex justify-center md:justify-start items-center md:items-left overflow-hidden mx-auto px-6 md:px-10 py-2.5">
        <div class="flex justify-end">
            <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
            <span class="sr-only">Dismiss</span>
            <svg class="h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
            </button>
        </div>
        <div class="flex flex-wrap items-center text-center md:text-left justify-center md:justify-left gap-x-4 gap-y-2">
            <div class="text-[12px] leading-[16px] text-[#000000] justify-center md:justify-start">
                By browsing this website, you consent to our Privacy Policy.
            </div>
            <a href="#" class="flex-none text-[12px] leading-[16px] text-[#000000] font-semibold"><strong class="font-semibold">Accept Cookies</strong></a>
        </div>
    </div>
</section>


{% schema %}
    {
        "name": "GDPR",
        "class": "harmony_section-gdpr",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            }
        ],
        "presets": [
            {
                "name": "GDPR",
                "category": "Harmony Sections"
            }
        ]
    }
{% endschema %}
    