<section class="bg-[#FAF2DC] lg:min-h-screen bg-scroll bg-center bg-no-repeat bg-cover bg-[url('//cdn.shopify.com/s/files/1/0586/2499/9582/files/home-banner.png?v=1713506306')]" id="harmony--{{ section.id }}">

        <header class="mx-auto max-w-7xl absolute inset-x-0 z-50 py-1.5 border-b border-[#ffffff1c]">
          <nav class="flex items-center justify-between px-4" aria-label="Global">
            <div class="flex lg:flex-1">
                <button type="button" class="hidden lg:inline-flex items-center justify-center rounded-md text-[#FAF2DC]">
                    <span class="sr-only">Open</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
                <a href="#" class="ml-1.5">
                    <span class="sr-only">Your Company</span>
                    <span class="text-xl text-[#FAF2DC] font-bold leading-normal">swiss</span>
                    {% comment %} <img class="h-8 w-auto" src="#" alt=""> {% endcomment %}
                </a>
            </div>
            <div class="flex lg:hidden">
              <button type="button" class="inline-flex items-center justify-center rounded-md text-[#FAF2DC]">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
              <a href="#" class="text-sm font-semibold leading-6 text-[#FAF2DC]">Shop</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#FAF2DC]">How to use</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#FAF2DC]">About us</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#FAF2DC]">Blog</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#FAF2DC]">Help</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#FAF2DC]">Contact</a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end space-x-1.5">
                <a class="flex w-[21px]">
                    <i class="fa fa-search text-[#FAF2DC]" aria-hidden="true"></i>
                </a>
                <a class="flex w-[16px]">
                    <i class="fa fa-user text-[#FAF2DC]" aria-hidden="true"></i>
                </a>
                <a class="flex [25px]">
                    <i class="fa fa-shopping-bag text-[#FAF2DC]" aria-hidden="true"></i>
                </a>
            </div>
          </nav>
          <!-- Mobile menu, show/hide based on menu open state. -->
        {% comment %}
          <div class="lg:hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-50"></div>
            <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
              <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                  <span class="sr-only">Your Company</span>
                  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                  <span class="sr-only">Close menu</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                  <div class="space-y-2 py-6">
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
                  </div>
                  <div class="py-6">
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endcomment %}
        </header>
      
        <div class="mx-auto max-w-7xl relative isolate pt-14 px-4 lg:px-4">

             <div class="absolute inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:top-0" aria-hidden="true">
                <div class="relative bg-gradient-to-b from-gray-900 opacity-6 w-[100%] h-[10rem]"></div>
            </div>

            <div class="max-w-2xl py-32 sm:py-18 lg:py-56">
                <div class="hidden sm:mb-3 sm:flex sm:justify-left">
                <div class="relative rounded-full text-sm leading-6 text-gray-100">
                    eASY Skin Care Routine
                </div>
                </div>
                <div class="text-left">
                <h1 class="text-4xl font-bold tracking-tight text-gray-100 sm:text-6xl">Your path to radiant skin.</h1>
                <p class="mt-6 text-lg leading-8 text-gray-100">We harness the power of nature with carefully selected botanical extracts and essential oils, free from harsh chemicals.</p>
                <div class="mt-3 flex items-left justify-left gap-x-6">
                    <a href="#" class="py-2.5 text-sm font-semibold text-white">Shop All</a>
                    {% comment %}<a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>{% endcomment %}
                </div>
                </div>
            </div>
            
            <div class="absolute inset-x-0 bottom-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:bottom-0" aria-hidden="true">
                <div class="relative bg-gradient-to-r from-gray-900 opacity-6 w-[100%] h-[30rem]"></div>
            </div>


        </div>

         
</section>




{% schema %}
    {
        "name": "Home Banner",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            }
        ],
        "presets": [
            {
                "name": "Home Banner",
                "category": "Harmony Sections"
            }
        ]
    }
{% endschema %}
    