
<div class="relative bg-[#F7F5F0]">
    <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="border-b border-gray-200">
        <div class="flex">
          <div class="absolute inset-x-0 top-full text-sm text-gray-500">
            <div class="absolute inset-0 top-1/2 bg-[#F7F5F0] shadow" aria-hidden="true"></div>
            <div class="relative bg-[#F7F5F0]">
              <div class="mx-auto max-w-screen-2xl px-6 md:px-10">
                <div class="grid grid-cols-3 gap-x-8 gap-y-10 py-16">
                  <div class="col-start-2 col-span-2 grid grid-cols-3 gap-x-8">
                    <div class="group relative text-base sm:text-sm">
                      <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-none bg-gray-100 group-hover:opacity-75">
                        <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/cheerful-half-naked-_2.png?v=1714585022" alt="product-image" class="object-cover object-center">
                      </div>
                      <div class="product__info grid grid-cols-2 mt-[14px]">
                        <a href="#" class="flex justify-start text-[16px] leading-[21px] text-[#000000]">
                          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                          Face
                        </a>
                        <h6 aria-hidden="true" class="flex justify-end text-[16px] leading-[21px] text-[#000000]">10</h6>
                      </div>
                      <div class="w-full my-[14px] border-t border-gray-400"></div>
                      <div class="product_short_desc text-[14px] leading-[19px] text-[#000000]" aria-hidden="true">
                        Our skincare solutions are developed based on the latest scientific research, delivering visible results you can trust
                      </div>
                    </div>
                    <div class="group relative text-base sm:text-sm">
                      <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-none bg-gray-100 group-hover:opacity-75">
                        <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/cheerful-half-naked.png?v=1714585022" alt="product-image" class="object-cover object-center">
                      </div>
                      <div class="product__info grid grid-cols-2 mt-[14px]">
                        <a href="#" class="flex justify-start text-[16px] leading-[21px] text-[#000000]">
                          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                          Body
                        </a>
                        <h6 aria-hidden="true" class="flex justify-end text-[16px] leading-[21px] text-[#000000]">10</h6>
                      </div>
                      <div class="w-full my-[14px] border-t border-gray-400"></div>
                      <div class="product_short_desc text-[14px] leading-[19px] text-[#000000]" aria-hidden="true">
                        Our skincare solutions are developed based on the latest scientific research, delivering visible results you can trust
                      </div>
                    </div>
                    <div class="group relative text-base sm:text-sm">
                      <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-none bg-gray-100 group-hover:opacity-75">
                        <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/cheerful-half-naked-_1.png?v=1714585022" alt="product-image" class="object-cover object-center">
                      </div>
                      <div class="product__info grid grid-cols-2 mt-[14px]">
                        <a href="#" class="flex justify-start text-[16px] leading-[21px] text-[#000000]">
                          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                          Hair
                        </a>
                        <h6 aria-hidden="true" class="flex justify-end text-[16px] leading-[21px] text-[#000000]">10</h6>
                      </div>
                      <div class="w-full my-[14px] border-t border-gray-400"></div>
                      <div class="product_short_desc text-[14px] leading-[19px] text-[#000000]" aria-hidden="true">
                        Our skincare solutions are developed based on the latest scientific research, delivering visible results you can trust
                      </div>
                    </div>
                  </div>
                  <div class="row-start-1 grid grid-cols-1 gap-x-8 gap-y-10 text-sm">
                    <div class="product__categories">
                      <ul role="list" aria-labelledby="Clothing-heading" class="space-y-[12px] text-[26px] leading-[41px] text-[#000000]">
                        <li class="flex">
                          <a href="#" class="hover:opacity-70 hover:underline">Shop All</a>
                        </li>
                        <li class="flex">
                          <a href="#" class="hover:opacity-70 hover:underline">New Arrivals</a>
                        </li>
                        <li class="flex">
                          <a href="#" class="hover:opacity-70 hover:underline">Bestsellers</a>
                        </li>
                        <li class="flex">
                          <a href="#" class="hover:opacity-70 hover:underline">Sunscreen</a>
                        </li>
                        <li class="flex">
                          <a href="#" class="hover:opacity-70 hover:underline">Cleanser</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
</div>




{% schema %}
    {
        "name": "Megamenu",
        "settings": [
            {
                "type": "text",
                "id": "banner_heading",
                "label": "Banner Heading",
                "default": "eASY Skin Care Routine"
            }
        ],
        "presets": [
            {
                "name": "Megamenu",
                "category": "Harmony Sections"
            }
        ]
    }
{% endschema %}