{% comment %} This section will be a snippets of newsletter popup  {% endcomment %}
<section id="harmony--{{ section.id }}">
    <div class="newsletter__section bg-[#FFFAF4] relative isolate overflow-hidden py-8 sm:py-16 lg:py-24">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto flex flex-col lg:flex-row gap-y-8 lg:gap-y-0 justify-between border border-gray-200 px-4 py-4 lg:px-[41px] lg:py-[35px]">
                <div class="flex lg:grid grid-cols-2 w-full lg:w-[50rem] justify-center items-start">
                    <div class="content">
                        <h2 class="text-[35px] leading-[35px] text-[#000000] font-normal">Subscibe and save money.</h2>
                        <div class="max-w-[90%] text-[14px] leading-[19px] text-[#000000] mt-[13px] font-normal">Subscribe to our newsletter and be the first to know about promotions, new product launches, and skincare tips.</div>
                    </div>
                    <div class="image">
                        <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Mail.png?v=1713695102" alt="newsletter-image" class="object-cover object-center">
                    </div>
                </div>
                <div class="flex flex-col w-full lg:w-[30rem] items-start justify-center">
                    <div class="flex w-full max-w-md">
                        <label for="email-address" class="sr-only px-0">Email address</label>
                        <input id="email-address" name="email" type="email" autocomplete="email" required="required" class="min-w-0 flex-auto border-0 border-b border-b-gray-200 text-[14px] leading-[19px] text-[#000000] font-normal bg-transparent px-0 py-2 focus:ring-0 focus:border-b-gray-500 focus:outline-none focus:border-b-2 focus:border-gray-200" placeholder="Enter your email address">
                        <button type="submit" class="flex-none">
                            <span class="text-gray-100 border border-gray-200 rounded-full px-2.5 py-2 bg-gray-900 hover:bg-gray-100 hover:text-gray-900 transition" aria-hidden="true">→</span>
                        </button>
                    </div>
                    <div class="relative flex mt-[33px]">
                        <div class="flex items-center">
                            <input id="tearms" name="tearms" type="checkbox" class="h-4 w-4 mr-2 rounded border-gray-300 text-black focus:ring-black">
                        </div>
                        <div class="flex items-center">
                            <label for="tearms" class="text-[14px] leading-[19px] text-[#000000] font-normal">I agree to the tearms and services</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% schema %}
{
    "name": "Newsletter",
    "class": "harmony_section-newsletter",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "text",
            "id": "banner_heading",
            "label": "Banner Heading",
            "default": "Easy Skin Care Routine"
        }
    ],
    "presets": [
        {
            "name": "Newsletter",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}