

<div class="localization__selector">
        <input type="hidden" name="country_code" value="US">
<country-selector class=""><label class="label visually-hidden no-js-hidden" for="annbar-localization-country-button">Pays</label><div class="custom-select relative w-full no-js-hidden"><button class="custom-select__btn input items-center" type="button" aria-expanded="false" aria-haspopup="listbox" id="annbar-localization-country-button" aria-disabled="false">
      <span class="text-start">États-Unis (USD&nbsp;$)</span>
      <svg width="20" height="20" viewBox="0 0 24 24" class="icon" role="presentation" focusable="false" aria-hidden="true">
        <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path>
      </svg>
    </button>
    <ul class="custom-select__listbox absolute invisible" role="listbox" tabindex="-1" aria-hidden="true" aria-activedescendant="annbar-localization-country-opt-0" hidden=""><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-0" role="option" data-value="DE">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Allemagne</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-1" role="option" data-value="AU">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Australie</span> <span class="country-option__currency">(AUD&nbsp;$)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-2" role="option" data-value="AT">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Autriche</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-3" role="option" data-value="BE">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Belgique</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-4" role="option" data-value="CA">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Canada</span> <span class="country-option__currency">(CAD&nbsp;$)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-5" role="option" data-value="KR">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Corée du Sud</span> <span class="country-option__currency">(KRW&nbsp;₩)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-6" role="option" data-value="DK">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Danemark</span> <span class="country-option__currency">(DKK&nbsp;kr.)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-7" role="option" data-value="AE">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Émirats arabes unis</span> <span class="country-option__currency">(AED&nbsp;د.إ)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-8" role="option" data-value="ES">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Espagne</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-9" role="option" data-value="US" aria-selected="true">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">États-Unis</span> <span class="country-option__currency">(USD&nbsp;$)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-10" role="option" data-value="FI">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Finlande</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-11" role="option" data-value="FR">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">France</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-12" role="option" data-value="IE">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Irlande</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-13" role="option" data-value="IL">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Israël</span> <span class="country-option__currency">(ILS&nbsp;₪)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-14" role="option" data-value="IT">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Italie</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-15" role="option" data-value="JP">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Japon</span> <span class="country-option__currency">(JPY&nbsp;¥)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-16" role="option" data-value="NO">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Norvège</span> <span class="country-option__currency">(USD&nbsp;$)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-17" role="option" data-value="NZ">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Nouvelle-Zélande</span> <span class="country-option__currency">(NZD&nbsp;$)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-18" role="option" data-value="NL">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Pays-Bas</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-19" role="option" data-value="PL">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Pologne</span> <span class="country-option__currency">(PLN&nbsp;zł)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-20" role="option" data-value="PT">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Portugal</span> <span class="country-option__currency">(EUR&nbsp;€)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-21" role="option" data-value="HK">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">R.A.S. chinoise de Hong Kong</span> <span class="country-option__currency">(HKD&nbsp;$)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-22" role="option" data-value="GB">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Royaume-Uni</span> <span class="country-option__currency">(GBP&nbsp;£)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-23" role="option" data-value="SG">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Singapour</span> <span class="country-option__currency">(SGD&nbsp;$)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-24" role="option" data-value="SE">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Suède</span> <span class="country-option__currency">(SEK&nbsp;kr)</span>
      </span></span>
        </li><li class="custom-select__option flex items-center js-option" id="country-selector-country-opt-25" role="option" data-value="CZ">
          <span class="pointer-events-none"><span class="country-option">
        <span class="country-option__name">Tchéquie</span> <span class="country-option__currency">(CZK&nbsp;Kč)</span>
      </span></span>
        </li></ul>
  </div></country-selector></div>