
<section id="harmony--{{ section.id }}">
    <div class="overflow-hidden bg-[#FFFAF4] py-6 sm:py-8">
        <div class="mx-auto max-w-screen">
            <div class="mx-auto max-w-7xl">
                <div class="grid grid-cols-1 px-6 md:px-6 md:grid-cols-4 gap-4">
                    <div class="article__share flex row-start-4 md:row-start-1 items-center justify-left md:justify-center">
                        <h4 class="basis-1/6 text-[14px] leading-[19px] text-[#000000] font-normal">Share</h4>
                        <div class="basis-1/2 social__share flex flex-row gap-x-2 items-center">
                            <a href="#" class="text-black hover:text-black opacity-50">
                                <span class="sr-only">Facebook</span>
                                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                            <a href="#" class="ml-6 text-black hover:text-black opacity-50">
                                <span class="sr-only">Instagram</span>
                                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                            <a href="#" class="ml-6 text-black hover:text-black opacity-50">
                                <span class="sr-only">Twitter</span>
                                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="article__header col-span-2">
                        <div class="article__header max-w-7xl">
                            <div class="back__to-prev">
                                <a href="#" class="flex gap-2 justify-startitems-center text-[14px] leading-[19px] text-[#000000] opacity-70 font-normal">
                                    <span aria-hidden="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                                        </svg>
                                    </span> Open roles
                                </a>
                            </div>
                            <div class="mt-[31px]">
                                <h2 class="text-3xl leading-1 lg:text-[45px] lg:leading-[47px] text-[#000000] font-normal">The Ultimate Guide to Building a Daily Skincare Routine</h2>
                                <div class="flex flex-row items-center justify-start mt-[58px]">
                                    <div class="basis-1/5 article-category text-[14px] leading-[19px] text-[#000000] opacity-70 font-normal">
                                        <a href="#">Beauty Trends</a>
                                    </div>
                                    <div class="basis-1/2 border-t border-black mr-4"></div>
                                    <div class="basis-1/4 article_date_time text-[14px] leading-[19px] text-[#000000] opacity-70 font-normal">
                                        2 hours ago by Maria
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block w-full border border-black opacity-10 my-[24px] md:my-[49px]"></div>
            <div class="mx-auto max-w-7xl">
                <div class="grid grid-cols-1 md:grid-cols-4 px-6 gap-4">
                    <div class="article__share"></div>
                    <div class="article__main col-span-2">
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal">
                            Radiant, healthy skin is a timeless aspiration that transcends generations and cultures. It’s not merely about vanity but also a reflection of our overall well-being. The journey to achieving radiant skin is both an art and a science. In this blog post, misconceptions, and offer practical tips for achieving and maintaining your skin’s natural glow.
                        </div>
                        <h3 class="text-[28px] leading-[25px] text-[#000000] font-normal mt-[37px]">The Canvas of Your Body: Understanding Your Skin</h3>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            Radiant, healthy skin is a timeless aspiration that transcends generations and cultures. It’s not merely about vanity but also a reflection of our overall well-being. The journey to achieving radiant skin is both an art and a science. In this blog post, misconceptions, and offer practical tips for achieving and maintaining your skin’s natural glow.
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                           The Epidermis: This is the outermost layer responsible for protecting against UV radiation and environmental toxins. It’s also where new skin cells are formed.
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            The Dermis: Beneath the epidermis lies the dermis, which contains blood vessels, hair follicles, and sweat glands. Collagen and elastin, essential proteins for skin elasticity, are also found here. 
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            The Subcutaneous Tissue: This layer contains fat cells that help regulate body temperature and provide cushioning and insulation.
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/article-image.png?v=1714536481" alt="article-image" class="rounded-none mt-[37px]">
                        <h3 class="text-[28px] leading-[25px] text-[#000000] font-normal mt-[37px]">The Art of Skincare:</h3>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            Skincare is a highly personal journey, and there’s no one-size-fits-all approach. To create your customized routine, consider these key factors:
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            1. Know Your Skin Type: Identify whether you have dry, oily, combination, or sensitive skin. Your skin type will guide your product choices.
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            2. Daily Cleansing: Start with a gentle cleanser to remove dirt and impurities without stripping your skin’s natural oils.
                        </div>
                        <h3 class="text-[28px] leading-[25px] text-[#000000] font-normal mt-[37px]">Customizing Your Routine</h3>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            Skincare products are often packed with a variety of ingredients, each with its unique benefits. Here are some key ingredients to look out for:
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            Hyaluronic Acid: A hydration powerhouse that helps skin retain moisture.
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            Vitamin C: A potent antioxidant that brightens and evens out skin tone.
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            Retinoids: Known for their anti-aging properties, promoting collagen production and reducing wrinkles. Niacinamide (Vitamin B3): Helps minimize pores, reduce redness, and improve overall skin texture. Peptides: Support collagen production, aiding in reducing the appearance of fine lines.
                        </div>
                        <div class="pl-8 block border-l border-black text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            "So I started to walk into the water. I won't lie to you boys, I was
                            terrified. But I pressed on, and as I made my way past the breakers
                            a strange calm came over me. I don't know if it was divine intervention
                            or the kinship of all living things but I tell you Jerry at that moment,
                            <h4 class="quote_author text-[18px] leading-[25px] text-[#000000] font-bold mt-[15px]">Alex p.</h4>
                        </div>
                        <div class="related__post justify-start flex flex-col md:flex-row items-start px-0 md:px-8 py-0 md:py-8 border border-gray-100 md:shadow-sm md:gap-x-12 mt-[57px]">
                            <img class="w-full md:w-[232px] h-auto" src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                            <div class="mt-6 md:mt-0">
                                <h4 class="text-[12px] leading-[23px] text-[#000000] opacity-70 font-normal">RELATED POST</h4>
                                <h3 class="text-[33px] leading-[33px] text-[#000000] font-semibold underline mt-sm md:mt-[29px]">The Ultimate Guide to Building a Skincare Routine</h3>
                            </div>
                        </div>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[37px]">
                            Radiant skin isn’t an overnight achievement; it’s a lifelong journey. The art and science of skincare come together when you understand your skin, customize your routine, and choose the right products with beneficial ingredients.
                        </div>

                        <h3 class="text-[28px] leading-[25px] text-[#000000] font-normal mt-[33px] md:mt-[66px]">In Conclusion</h3>
                        <div class="text-[18px] leading-[25px] text-[#000000] font-normal mt-[18px] md:mt-[37px]">
                            Remember that consistency is key. Stick to your skincare routine, be patient, and be mindful of the changes in your skin. Embrace the process, and with time, you’ll unveil the canvas of radiant skin that’s uniquely yours. So, start your journey today and let your skin glow with health and vitality.
                        </div>

                    </div>
                    <div class="hidden lg:flex next_prev-article max-w-[300px]">
                        <div class="rounded-sm text-left lg:flex lg:flex-col lg:justify-start lg:py-6">
                            <div class="mx-auto py-4 px-[2rem] shadow-sm">
                                <a href="#" class="group">
                                    <p class="text-[12px] leading-[23px] text-[#000000] opacity-70 font-normal">Read next</p>
                                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden xl:aspect-h-8 xl:aspect-w-7 mt-[20px]">
                                        <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg" alt="article-add-image" class="h-full w-full object-cover object-center group-hover:opacity-75">
                                    </div>
                                    <h4 class="text-[12px] leading-[23px] text-[#000000] opacity-70 font-normal mt-[25px]">SKIN CARE TIPS</h4>
                                    <h3 class="text-[18px] leading-[22px] text-[#000000] font-semibold mt-[16px]">The Ultimate Guide to Building a Skincare Routine</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto max-w-4xl mt-[70px] md:mt-[141px]">
                <div class="author__block px-6 md:px-8 flex flex-col md:flex-row items-start md:items-center justify-start md:justify-center gap-x-12">
                    <img class="w-sm rounded-full md:rounded-none md:w-[138px] h-auto" src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Avatar.png?v=1714540828" alt="author-image">
                    <div class="mt-[8px]">
                        <h4 class="text-[20px] leading-[25px] text-[#000000] font-normal">Maria Chang</h4>
                        <div class="text-[14px] leading-[19px] text-[#000000] font-normal mt-[8px]">
                            I am a passionate blog writer with years of experience in the field, I have honed my skills in fashion and health. My journey in fashion has allowed me to win international awards that I can’t even count!
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto max-w-4xl mt-[96px]">
                <div class="prev__next-article px-6 md:px-8 flex flex-col md:flex-row items-center gap-x-12 gap-y-6 md:gap-y-0">
                    <div class="flex items-center justify-start gap-x-4">
                        <span class="icon_prev">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                            </svg>
                        </span>
                        <h4 class="text-[18px] leading-[25px] text-[#000000] font-semibold pr-24">DIY Skincare Recipes: Nourish Your Skin</h4>
                    </div>
                    <span class="midd__icon-elleipse">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                      </svg>                      
                    </span>
                    <div class="flex items-center justify-end gap-x-2">
                        <h4 class="text-[18px] leading-[25px] text-[#000000] font-semibold pl-24">DIY Skincare Recipes: Nourish Your Skin</h4>
                        <span class="icon_next">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Old Article",
    "settings": [
        {
            "type": "text",
            "id": "banner_heading",
            "label": "Banner Heading",
            "default": "eASY Skin Care Routine"
        }
    ],
    "presets": [
        {
            "name": "Old Article",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}