<section id="harmony--{{ section.id }}" class="bg-[#fffaf4]">
    {%  render 'gradient-bar' %}
    <div class="page__header flex flex-col md:flex-row max-w-7xl mx-auto items-start justify-start md:justify-between px-4 md:px-10 pb-8 pt-8 lg:pt-8 mb-88">
        <h1 class="page__heading text-[37px] leading-[43px] md:text-[47px] md:leading-[53px] lg:text-[67px] lg:leading-[73px] text-[#000000] font-normal max-w-sm tracking-tight px-4 mb-6 md:mb-0">{{ section.settings.heading }}</h1>
        <div class="flex items-center justify-start md:justify-end">
            <div class="max-w-sm px-4 lg:px-8">
                <span class="page__title inline text-[14px] leading-[19px] text-[#000000] font-normal border border-[#000000] rounded-full px-2 py-2">{{ section.settings.page_title }}</span>
                <div class="page__description text-[20px] leading-[22px] text-[#000000] font-normal mt-[20px]">
                    {{ section.settings.page_desc }}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Page Header",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Section Heading",
                "default": "Section Heading"
            },
            {
                "type": "checkbox",
                "id": "show_heeading",
                "label": "Show Heading",
                "default": true
            },
            {
                "type": "text",
                "id": "page_title",
                "label": "Page Title",
                "default": "About us"
            },
            {
                "type": "text",
                "id": "page_desc",
                "label": "Page Short Description",
                "default": "<p>We understand the importance of easy to use skincare products that feels comfortable. This is why we developed Swiss.</p>"
            }
        ],
        "presets": [
            {
                "name": "Page Header",
                "category": "Harmony Sections"
            }
        ]
    }
    {% endschema %}
              