
<section id="harmony--{{ section.id }}" class="login-page">
  <div class="flex min-h-full flex-col justify-center px-6 py-12">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="text-[35px] leading-[35px] text-[#000000]">Login</h2>
      <div class="text-[14px] leading-[19px] text-[#000000] mt-[16px]">Welcome back! Please enter your login details to access your account.</div>
    </div>
  
    <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-[27px]">
       {%- form 'customer_login', novalidate: 'novalidate' ,class : 'space-y-6'  -%}
     
        <div>
          <div class="mt-2">
              <input
          type="email"
          name="customer[email]"
                class="w-full flex-auto border-0 border-b border-b-gray-200 text-[14px] leading-[19px] text-[#000000] font-normal bg-transparent px-0 py-2 focus:ring-0 focus:border-b-gray-500 focus:outline-none focus:border-b-2 focus:border-gray-200"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
          placeholder="Email"
        >
          </div>
        </div>
  
        <div>
          <div class="flex justify-between mt-2">
          <input
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            class="w-full flex-auto border-0 border-b border-b-gray-200 text-[14px] leading-[19px] text-[#000000] font-normal bg-transparent px-0 py-2 focus:ring-0 focus:border-b-gray-500 focus:outline-none focus:border-b-2 focus:border-gray-200"
            autocomplete="current-password"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="Password"
          >
            <span class="show-hide-pass border-b flex items-end">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input id="offers" name="offers" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black">
              </div>
              <div class="text-sm leading-6">
                <label for="offers" class="text-[14px] leading-[19px] text-[#000000]">Remember me</label>
              </div>
          </div>
          <div class="text-sm">
            <a href="#" class="text-[14px] leading-[19px] text-[#000000] hover:text-gray-500">Forgot password?</a>
          </div>
        </div>
        <div>
          <button type="submit" class="flex w-full h-[55px] justify-center text-[17px] leading-[21px] text-[#f7f4ed] bg-[#373738] px-3 py-3.5 hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">Login</button>
        </div>

  {% endform %}
      <div class="mt-10 text-center text-[14px] leading-[19px] text-[#000000]">
        New user?
        <a href="/account/register" class="text-[14px] leading-[19px] text-[#000000] hover:text-gray-500 underline">Register</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
    {
        "name": "Login",
        "disabled_on": {
          "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "text",
                "id": "banner_heading",
                "label": "Banner Heading",
                "default": "eASY Skin Care Routine"
            }
        ],
        "presets": [
            {
                "name": "Login",
                "category": "Harmony Sections"
            }
        ]
    }
{% endschema %}