<section id="harmony--{{ section.id }}" class="bg-[#fffaf4]">
    <div class="contact__info mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
            <div class="grid grid-cols-1 gap-8 pt-[43px] py-[43px] sm:grid-cols-2 lg:grid-cols-4">
                <div class="flex flex-row gap-x-2 items-center">
                    <h6 class="flex-none w-sm text-base font-normal leading-1 tracking-tight text-black opacity-50">Visit</h6>
                    <p class="flex-none w-32 text-base leading-1 text-gray-700">170 Soho St, London, France</p>
                </div>
                <div class="flex flex-row gap-x-2 items-center">
                    <h6 class="flex-none w-sm text-base font-normal leading-1 tracking-tight text-black opacity-50">Call</h6>
                    <p class="flex-none w-32 text-base leading-1 text-gray-700">+98 690 2148 99</p>
                </div>
                <div class="flex flex-row gap-x-2 items-center">
                    <h6 class="flex-none w-sm text-base font-normal leading-1 tracking-tight text-black opacity-50">Email</h6>
                    <p class="flex-none w-32 text-base leading-1 text-gray-700">info@swiss.com</p>
                </div>
                <div class="social__share flex flex-row gap-x-2 items-center">
                    <a href="#" class="text-gray-400 hover:text-black opacity-50">
                        <span class="sr-only">Facebook</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                    <a href="#" class="ml-6 text-gray-400 hover:text-black opacity-50">
                        <span class="sr-only">Instagram</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                    <a href="#" class="ml-6 text-gray-400 hover:text-black opacity-50">
                        <span class="sr-only">Twitter</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="contact__form mx-auto max-w-7xl px-6 lg:px-8">
        <div class="form__wrapper">
            <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="flex justify-between py-5">
                <div class="contact_heading">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Send a message.</h2>
                </div>
                <div class="mt-2 text-lg leading-8 text-gray-600">
                    <form action="#" method="POST" class="mx-auto">
                        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">— or copy email:</label>
                        <div class="mt-0">
                          <div class="flex rounded-md focus-within:ring-2 focus-within:ring-transparent sm:max-w-md">
                            <input type="text" name="username" id="username" autocomplete="username" class="block flex-1 border-0 bg-transparent p-0 text-gray-900 focus:ring-0 sm:text-sm sm:leading-6" value="info@swiss.com">
                            <span class="inline-block text-gray-400 hover:text-black opacity-50 cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                                </svg>
                          </span>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
            <form action="#" method="POST" class="mx-auto mt-4 sm:mt-8">
                <div class="grid grid-cols-1 sm:grid-cols-2">
                    <div class="border">
                        <label for="name" class="block text-sm px-3 mt-2.5 font-semibold leading-6 text-gray-900">My Name is</label>
                        <input type="text" name="name" id="name" placeholder="John Doe" autocomplete="given-name" class="block w-full bg-transparent border-0 focus:ring focus:ring-transparent text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                    </div>
                    <div class="border">
                        <label for="email" class="block text-sm px-3 mt-2.5 font-semibold leading-6 text-gray-900">Email addreses</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email address" autocomplete="email" class="block w-full bg-transparent border-0 focus:ring focus:ring-transparent text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                    </div>
                    <div class="border">
                        <label for="phone" class="block text-sm px-3 mt-2.5 font-semibold leading-6 text-gray-900">Phone Number</label>
                        <input type="text" name="phone" id="phone" placeholder="Optional" autocomplete="given-phone" class="block w-full bg-transparent border-0 focus:ring focus:ring-transparent text-gray-900  placeholder:text-gray-400 sm:text-sm sm:leading-6">
                    </div>
                    <div class="border">
                        <label for="subject" class="block text-sm px-3 mt-2.5 font-semibold leading-6 text-gray-900">Subject</label>
                        <input type="text" name="subject" id="subject" placeholder="I need help with" autocomplete="given-name" class="block w-full bg-transparent border-0 focus:ring focus:ring-transparent text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                    </div>
                    <div class="border sm:col-span-2">
                        <label for="message" class="block text-sm px-3 mt-2.5 font-semibold leading-6 text-gray-900">Your Message</label>
                        <textarea name="message" id="message" placeholder="Write your message" rows="4" class="block w-full bg-transparent border-0 focus:ring focus:ring-transparent text-gray-900  placeholder:text-gray-400 sm:text-sm sm:leading-6"></textarea>
                    </div>

                    <div class="flex justify-between sm:col-span-2 py-5">
                        <div class="flex gap-x-4">
                            <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                  <input id="comments" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                </div>
                                <div class="text-sm leading-6">
                                    <label class="text-sm leading-6 text-gray-600" id="switch-1-label">
                                        I accept terms and services.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="submmit_btn_wrapper flex gap-x-4">
                            <button type="submit" class="flex-none">
                                Send Message<span class="text-[#FFFAF4] border bg-gray-900 border-gray-900 rounded-full ml-4 px-[5px] py-[2px] hover:bg-gray-100 hover:text-gray-900 transition" aria-hidden="true">→</span>
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</section>




{% schema %}
{
    "name": "Contact Form",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Section Heading",
            "default": "Section Heading"
        },
        {
            "type": "checkbox",
            "id": "show_heeading",
            "label": "Show Heading",
            "default": true
        },
        {
            "type": "text",
            "id": "page_title",
            "label": "Page Title",
            "default": "About us"
        },
        {
            "type": "text",
            "id": "page_desc",
            "label": "Page Short Description",
            "default": "<p>Swiss was born from a passion for skincare and a belief in the transformative power of self-care.</p>"
        }
    ],
    "presets": [
        {
            "name": "Contact Form",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}
      