{% style %}
    .slider-example-split-line {
        --divider-width: 10px;
        --divider-color: #ffffff;
        --default-handle-opacity: 0;
    }
    img-comparison-slider {
        visibility: hidden;
    }
    img-comparison-slider [slot='second'] {
        display: none;
    }
    img-comparison-slider.rendered {
        visibility: inherit;
    }
    img-comparison-slider.rendered [slot='second'] {
        display: unset;
    }
{% endstyle %}


  <section id="harmony--{{ section.id }}">
    <img-comparison-slider class="slider-example-split-line relative w-full max-h-[350px] md:min-h-[536px]">
      {% if section.settings.b_img != blank %}
        <img
          src="{{ section.settings.b_img | img_url: '' }}"
          alt="leaves"
          slot="first"
          class="w-full h-[536px]"
        >
      {% endif %}
      {% if section.settings.a_img != blank %}
        <img
          src="{{ section.settings.a_img | img_url: '' }}"
          alt="leaves-blurred."
          slot="second"
          class="w-full h-[536px]"
        >
      {% endif %}
      <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
        <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
      </svg>
    </img-comparison-slider>
  </section>
  {% schema %}
  {
      "name": "Product before after",
      "settings": [
        {
            "type": "image_picker",
            "label":"Before Image",
            "id": "b_img"
        },
        {
            "type": "image_picker",
            "label":"After Image",
            "id": "a_img"
        }
      ],
      "presets": [
        {
            "name": "Product before after",
            "category": "Harmony Sections"
        }
      ]
  }
  {% endschema %}


  <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
  