<section id="harmony--{{ section.id }}">
    <div class="overflow-hidden relative bg-[#293423] py-24 sm:py-32 lg:py-15">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-4">
                <div class="col-img justify-end align-bottom content-end relative xl:top-[14rem] xl:top-[-2rem] xl:left-0 lg:top-[-2rem] lg:left-0 md:absolute md:top-[-2rem] md:left-0">
                    <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/reveal-left-img.png?v=1713371020" alt="Product screenshot" class="w-full md:w-[150px] lg:w-[130px] 2xl:w-[240px] md:-ml-4 lg:-ml-0" width="280" height="100%">
                </div>
                <div class="lg:pr-8 lg:pt-4 col-span-3">
                    <div class="lg:w-full">
                        <h4 class="inline-block text-base font-semibold leading-7 text-gray-100 border rounded-full border-gray-100 px-2 py-2">Deploy faster</h4>
                        <h2 class="text-[#626E5C] text-ellipsis mt-2 block xl:min-w-[63rem] xl:text-[70px] xl:leading-[75px] lg:min-w-[54rem] lg:text-[60px] lg:leading-[70px] md:min-w-[40rem] md:text-[32px] md:leading-[40px] font-bold tracking-tight sm:text-4xl">
                           <span class="text-gray-100"> We invite you to explore our range of pro</span>ducts, discover your personalized skincare routine, and embark on a journey to radiant, healthy skin.
                        </h2>
                    </div>
                </div>
                <div class="col-img justify-end align-bottom content-end relative xl:bottom-[14rem] xl:right-20 lg:bottom-[18rem] lg:right-20 md:absolute md:bottom-[1rem] md:right-20">
                    <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/reveal-img-right.png?v=1713369269" alt="Product screenshot" class="w-full md:w-[160px] xl:w-[240px] md:-ml-4 lg:-ml-0" width="280" height="100%">
                </div>
            </div>
            <div class="reveal__description mt-10">
                <p class="text-base text-[#b1c4a6] max-w-xl">It was so easy to use! My friends have been asking me what I've been doing differently because my complextion has never looked better . Thank you. Swiss, for giving me the con</p>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "reveal",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }
    ],
    "presets": [
        {
            "name": "reveal",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}