<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 flex justify-between">
    <div class="w-1/2">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What do they say about us</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">It was so easy to use! My friends have been asking me what I’ve been doing differently because my complexion has never looked better. Thank you, Swiss, for giving me the confidence to go makeup-free!.</p>
        <div class="flex items-center my-2">
            <button class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3" id="headlessui-tabs-tab-6" role="tab" type="button" aria-selected="false" tabindex="-1" data-headlessui-state="" aria-controls="headlessui-tabs-panel-8">
                <span class="lg:mr-5 text-slate-600"><i class="px-2 py-2 bg-black-600 border-1 rounded-full fa fa-chevron-left"></i></span>
                <span class="mx-2 lg:mx-2 text-slate-600">
                    <i class="text-sm fa fa-circle"></i>
                </span>
                <span class="mx-2 lg:mx-2 text-slate-200">
                    <i class="text-xs fa fa-circle"></i>
                </span>
                <span class="mx-2 lg:mx-2 text-slate-200">
                    <i class="text-xs fa fa-circle"></i>
                </span>
                <span class="lg:ml-5 text-slate-600"><i class="px-2 py-2 bg-black-100 border-1 rounded-full fa fa-chevron-right"></i></span>
            </button>
        </div>
    </div>
    <div class="w-1/4 text-center py-4">
        <p class="mt-2 text-xs font-small text-gray-900 inline px-2 py-sm border border-black rounded-full">From Varified Buyers</p>
        <div class="mt-1 mb-4 flex justify-center">
            <div class="mr-3">
                <p class="text-xl font-medium text-gray-900">
                    <i class="fa fa-star"></i>
                    <span class="text-2xl">4.9</span>
                </p>
            </div>
            <div class="ml-1">
                <p class="text-base pt-1 text-gray-700">Based on 41 Reviews</p>
            </div>    
        </div>
        <a href="#" class="mt-3 text-lg text-gray-900 font-bold inline px-2 py-sm">Read more Testimonials</a>
    </div>
  </div>
</div>



{% schema %}
    {
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ],
      "presets": [
        {
          "name": "Testimonial"
        }
      ]
    }
{% endschema %}