@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 131, 131);
}

@layer base {
  h1 {
    @apply text-2xl;
  }
}

@layer components {

  /* Badge Font Size */
  .harmony__badge-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__badge-theme-default {
    @apply text-[14px] leading-[25px];
  }
  .harmony__badge-lg {
    @apply text-[16px] leading-[24px];
  }  

  /* Announcement Bar Section Font Size */
  .harmony__announcement-bar-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__announcement-bar-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__announcement-bar-lg {
    @apply text-[16px] leading-[24px];
  }

  /* Header Nav Font Size */
  .harmony__header-sm {
    @apply text-[14px] leading-[20px];
  }
  .harmony__header-theme-default {
    @apply text-[16px] leading-[24px];
  }
  .harmony__header-lg {
    @apply text-[18px] leading-[28px];
  }

  /* Mega-menu Nav Font Size */
  .harmony__megamenu_nav-sm {
    @apply text-[20px] leading-[28px];
  }
  .harmony__megamenu_nav-theme-default {
    @apply text-[26px] leading-[34px];
  }
  .harmony__megamenu_nav-lg {
    @apply text-[30px] leading-[36px];
  }

  /* Mega-menu product info. Font Size */
  .harmony__megamenu_product_info-sm {
    @apply text-[14px] leading-[20px];
  }
  .harmony__megamenu_product_info-theme-default {
    @apply text-[16px] leading-[24px];
  }
  .harmony__megamenu_product_info-lg {
    @apply text-[18px] leading-[28px];
  }

  /* Mega-menu product desc. Font Size */
  .harmony__megamenu_product_desc-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__megamenu_product_desc-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__megamenu_product_desc-lg {
    @apply text-[16px] leading-[24px];
  }

  /* Offcanvas Nav Font Size */
  .harmony__offcanvas_nav-sm {
    @apply text-[16px] leading-[24px];
  }
  .harmony__offcanvas_nav-theme-default {
    @apply text-[18px] leading-[28px];
  }
  .harmony__offcanvas_nav-lg {
    @apply text-[20px] leading-[28px];
  }

  /* Offcanvas product info. Font Size */
  .harmony__offcanvas_product_info-sm {
    @apply text-[14px] leading-[20px];
  }
  .harmony__offcanvas_product_info-theme-default {
    @apply text-[16px] leading-[24px];
  }
  .harmony__offcanvas_product_info-lg {
    @apply text-[18px] leading-[28px];
  }

  /* Offcanvas product desc. Font Size */
  .harmony__offcanvas_product_desc-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__offcanvas_product_desc-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__offcanvas_product_desc-lg {
    @apply text-[16px] leading-[24px];
  }


  /* Banner Heading Section Font Size */
  .harmony__banner-sm {
    @apply text-[32px] leading-[38px] md:text-[52px] md:leading-[58px] lg:text-[72px] lg:leading-[82px];
  }
  .harmony__banner-theme-default {
    @apply text-[42px] leading-[48px] md:text-[62px] md:leading-[68px] lg:text-[90px] lg:leading-[92px];
  }
  .harmony__banner-lg {
    @apply text-[52px] leading-[58px] md:text-[72px] md:leading-[78px] lg:text-[96px] lg:leading-[100px];
  }

  /* Banner Sub-heading Section Font Size */
  .harmony__banner-subheading-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__banner-subheading-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__banner-subheading-lg {
    @apply text-[16px] leading-[24px];
  }

  /* Banner Content Section Font Size */
  .harmony__banner-content-sm {
    @apply text-[16px] leading-[24px];
  }
  .harmony__banner-content-theme-default {
    @apply text-[18px] leading-[28px];
  }
  .harmony__banner-content-lg {
    @apply text-[20px] leading-[28px];
  }
  
  /* Banner Button Section Font Size */
  .harmony__banner-btn-sm {
    @apply text-[14px] leading-[20px];
  }
  .harmony__banner-btn-theme-default {
    @apply text-[17px] leading-[26px];
  }
  .harmony__banner-btn-lg {
    @apply text-[20px] leading-[28px];
  }

  /* Page header Section Font Size */
  .harmony__page-header-heading-sm {
    @apply text-[27px] leading-[33px] md:text-[37px] md:leading-[43px] lg:text-[47px] lg:leading-[53px];
  }
  .harmony__page-header-heading-theme-default {
    @apply text-[37px] leading-[43px] md:text-[47px] md:leading-[53px] lg:text-[67px] lg:leading-[73px];
  }
  .harmony__page-header-heading-lg {
    @apply text-[47px] leading-[53px] md:text-[57px] md:leading-[63px] lg:text-[77px] lg:leading-[83px];
  }

  /* Page header Caption Section Font Size */
  .harmony__page-header-caption-sm {
    @apply text-page_header_caption-sm;
  }
  .harmony__page-header-caption-theme-default {
    @apply text-page_header_caption-default;
  }
  .harmony__page-header-caption-lg {
    @apply text-page_header_caption-lg;
  }

  /* Page header description Section Font Size */
  .harmony__page-header-desc-sm {
    @apply text-page_header_desc-sm;
  }
  .harmony__page-header-desc-theme-default {
    @apply text-page_header_desc-default;
  }
  .harmony__page-header-desc-lg {
    @apply text-page_header_desc-lg;
  }

  /* GDPR Section Font Size */
  .harmony__gdpr-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__gdpr-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__gdpr-lg {
    @apply text-[16px] leading-[24px];
  }

  /* Featured Collection Section Font Size */
  .harmony__featured-collection-sm {
    @apply text-[20px] leading-[28px] md:text-[32px] md:leading-[38px] lg:text-[42px] lg:leading-[48px];
  }
  .harmony__featured-collection-theme-default {
    @apply text-[24px] leading-[32px] md:text-[36px] md:leading-[42px] lg:text-[50px] lg:leading-[68px];
  }
  .harmony__featured-collection-lg {
    @apply text-[32px] leading-[42px] md:text-[48px] md:leading-[62px] lg:text-[62px] lg:leading-[72px];
  }

  /* Banner Sub-heading Section Font Size */
  .harmony__reveal-label-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__reveal-label-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__reveal-label-lg {
    @apply text-[16px] leading-[24px];
  }


  /* Reveal section description Font Size */
  .harmony__reveal-desc-sm {
    @apply text-[16px] leading-[24px];
  }
  .harmony__reveal-desc-theme-default {
    @apply text-[18px] leading-[28px];
  }
  .harmony__reveal-desc-lg {
    @apply text-[20px] leading-[28px];
  }
  /* Reveal Section Heading Font Size */
  .harmony__reveal-heading-sm {
    @apply text-[31px] leading-[30px] sm:text-[39px] sm:leading-[37px] md:text-[49px] md:leading-[46px] lg:text-[61px] lg:leading-[58px] xl:text-[76px] xl:leading-[72px];
  }
  .harmony__reveal-heading-theme-default {
    @apply text-[39px] leading-[37px] sm:text-[49px] sm:leading-[46px] md:text-[61px] md:leading-[58px] lg:text-[76px] lg:leading-[72px] xl:text-[95px] xl:leading-[90px];
  }
  .harmony__reveal-heading-lg {
    @apply text-[47px] leading-[45px] sm:text-[61px] sm:leading-[58px] md:text-[76px] md:leading-[72px] lg:text-[95px] lg:leading-[90px] xl:text-[114px] xl:leading-[108px];
  }


  /* Focal Section Heading Font Size */
  .harmony__focal-heading-sm {
    @apply text-[20px] leading-[28px] md:text-[32px] md:leading-[38px] lg:text-[42px] lg:leading-[48px];
  }
  .harmony__focal-heading-theme-default {
    @apply text-[24px] leading-[32px] md:text-[36px] md:leading-[42px] lg:text-[50px] lg:leading-[68px];
  }
  .harmony__focal-heading-lg {
    @apply text-[32px] leading-[42px] md:text-[48px] md:leading-[62px] lg:text-[62px] lg:leading-[72px];
  }  
  /* Focal Section content Font Size */
  .harmony__focal-content-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__focal-content-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__focal-content-lg {
    @apply text-[16px] leading-[24px];
  }  
  /* Product Featured Section Heading Font Size */
  .harmony__productFT-heading-sm {
    @apply text-[20px] leading-[28px] md:text-[32px] md:leading-[38px] lg:text-[42px] lg:leading-[48px];
  }
  .harmony__productFT-heading-theme-default {
    @apply text-[24px] leading-[32px] md:text-[36px] md:leading-[42px] lg:text-[50px] lg:leading-[68px];
  }
  .harmony__productFT-heading-lg {
    @apply text-[32px] leading-[42px] md:text-[48px] md:leading-[62px] lg:text-[62px] lg:leading-[72px];
  }


  /* Product Featured Section Tab button Font Size */
  .harmony__productFT-tab-sm {
    @apply text-[14px] leading-[20px];
  }
  .harmony__productFT-tab-theme-default {
    @apply text-[17px] leading-[26px];
  }
  .harmony__productFT-tab-lg {
    @apply text-[20px] leading-[28px];
  }

  /* Product Featured Section Product Title Font Size */
  .harmony__productFT-prodTitle-sm {
    @apply text-[14px] leading-[20px];
  }
  .harmony__productFT-prodTitle-theme-default {
    @apply text-[16px] leading-[24px];
  }
  .harmony__productFT-prodTitle-lg {
    @apply text-[18px] leading-[28px];
  }
  
  /* Product Featured Section category/caption label Font Size */
  .harmony__productFT-label-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__productFT-label-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__productFT-label-lg {
    @apply text-[16px] leading-[24px];
  }  

  /* Product Featured Section price/feedback Font Size */
  .harmony__productFT-priceFeedback-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__productFT-priceFeedback-theme-default {
    @apply text-[13px] leading-[17px];
  }
  .harmony__productFT-priceFeedback-lg {
    @apply text-[14px] leading-[20px];
  }
   
  /* Footer Benefits Font Size */
  .harmony__footerbenifits-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__footerbenifits-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__footerbenifits-lg {
    @apply text-[16px] leading-[24px];
  }

  /* Footer Font Size */
  .harmony__footer-sm {
    @apply text-[12px] leading-[16px];
  }
  .harmony__footer-theme-default {
    @apply text-[14px] leading-[20px];
  }
  .harmony__footer-lg {
    @apply text-[16px] leading-[24px];
  }
}

 
@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
